body {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}

.title-container {
    border: 2px solid #f04;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container h1 {
    margin: 0;
}

.title-container img {
    width: 50px;
    height: 50px;
}

.titulo-weight {
    color: #f04;
}