@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
}