body {
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
}

#inicio {
    height: 100px;
}

header {
    margin: 0;
    position: fixed;
    top: 0;
    background: linear-gradient(220deg, #171717 10%, #555);
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-sizing: border-box;
}

p {
    width: 200px;
    margin: auto;
}

.nav-pagina {
    padding: 0;
    display: flex;
    list-style: none;
    max-width: fit-content;
    height: fit-content;
    gap: 20px;
    font-weight: bold;
    margin: 0 20px 0 0;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-pagina li {
    color: #EDEDED;
    transition: all 0.3s;
}

.nav-pagina li:hover {
    color: #bbb;
    transform: scale(1.04);
}

.nav-pagina li:active {
    transform: scale(0.97);
}

.title-container {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
    width: fit-content;
    transition: all 0.2s;
    box-sizing: border-box;
}

.title-container:active{
    transform: scale(0.97);
}

.title-container h1 {
    margin: 0;
    color: #EDEDED;
}

.title-container img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.titulo-weight {
    color: #DA0037;
}

.carrousel-imgs {
    margin: 0 30px;
    height: 500px;
    overflow: scroll;
    display: flex;
}

@media (max-width: 700px) {
    header {
        justify-content: center;
        flex-direction: column;
    }

    .title-container h1 {
        display: none;
    }

    .title-container img {
        width: 40px;
        height: 40px;
    }

    .nav-pagina {
        font-size: 12px;
        margin: auto;
        margin-bottom: 20px;
    }
}